* {
  box-sizing: border-box;
}

body {
  background-color: black !important;
}

li {
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: underline;
}

#mainHeader {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 60px;
}

#jumbotronBox {
  padding: 10px;
}

#infoCard {
  text-align: center;
  font-size: medium;
}

#searchCol {
  background-color: rgb(245, 245, 245);
}

#infoCardHeader {
  font-weight: bolder;
  font-size: xx-large;
}

#forcastCard {
  height: 220px;
  width: 175px;
  margin: 20px;
  color: white;
  background-color: blue;
}

h5 {
  padding-left: 5px;
  font-size: 40px !important;
}

h1 {
  color: red;
}

.btn {
  margin-bottom: 10px;
}

.icon {
  color: darkcyan;
}
